# Wordpress Stuff
*.zip
*.s*ssc

# Style.css or its maps should not be checked in;
# technically they're a build artifact.
style.css
style.css.map

## IDE
.vscode/
.sass-cache/
bin/

# Gradle
.gradle/
gradle/.launch/

# Node/NPM-related stuff
node_modules/

## Easy ignore with directories starting with "."
.*