# Wordpress Stuff
*.zip
*.s*ssc

# Style.css should not be checked in;
# technically it's a build artifact.
style.css

## IDE
.vscode/
.sass-cache/

# Gradle
.gradle/
gradle/.launch/

# Node/NPM-related stuff
node_modules/

## Easy ignore with directories starting with "."
.*