// Hero Style
$bg-tint-hero: 0.5
$bg-hero-default: center/cover no-repeat

$fg-color-hero: $white

$font-hero-largetext: $oswald
$font-hero-smalltext: $roboto-condensed

$fontsize-hero-largetext: strip-unit( modular-scale(3) ), strip-unit(  modular-scale(7) )
$fontsize-hero-smalltext: strip-unit( modular-scale(1) ), strip-unit(  modular-scale(3) )
$csslock-hero-range: 768, 1024

// Hero Container
.hero
    display: flex
    min-height: 450px
    +padding(2em)
    background-color: rgba(0, 0, 0, $bg-tint-hero)

.hero:before
    content: ''
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index: -1
    background: $bg-hero-default

.hero--large
    min-height: 100vh

.hero--medium
    min-height: 75vh

// Hero Content Wrapper
// Contect changer as well
.hero__content
    +margin(auto)

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p
        text-align: center
        color: $fg-color-hero

        &:last-child
            +margin(null null 0)

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
        font-family: $font-hero-largetext
        +css-lock( nth($fontsize-hero-largetext, 1), nth($fontsize-hero-largetext, 2) )
        text-transform: uppercase
        +letter-spacing(0)

    p
        font-family: $font-hero-smalltext
        +css-lock( nth($fontsize-hero-smalltext, 1), nth($fontsize-hero-smalltext, 2) )

    .wp-block-button
	    .wp-block-button__link
            @extend .button

            &.has-orange-color
                @extend .button--color--orange

            &.has-dark-gray-color
                @extend .button--color--dark
            
            &.has-light-gray-color
                @extend .button--color--light
            
            &.has-black-color
                @extend .button--color--black
            
            &.has-white-color
                @extend .button--color--white