.page-content--archive-robot
    display: grid
    grid-template-columns: auto auto auto
    grid-gap: 6em 10%
    justify-content: center
    
.robot
    text-align: center
    
.robot__icon
    @include size(256px)
    object-fit: cover
    object-position: center
    background-color: $c-bg-robot-icon
    border-radius: 50%
    
.robot__name
    text-transform: uppercase