// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Oswald:400,500,600,700|PT+Sans:400,400i,700,700i|Abel)

// Diavlo font
@include font-face("Diavlo", "./fonts/diavlo/light", $file-formats: ttf)
@include font-face("diavlo", "./fonts/diavlo/bold", bold, $file-formats: ttf)

// Built Tilting font
@include font-face("Built Titling", "./fonts/built-titling/light", $file-formats: ttf)
@include font-face("Built Titling", "./fonts/built-titling/light_italic", normal, italic, $file-formats: ttf)
@include font-face("Built Titling", "./fonts/built-titling/regular", bold, $file-formats: ttf)
@include font-face("Built Titling", "./fonts/built-titling/regular_italic", bold, italic, $file-formats: ttf)

// Font Variables
$diavlo: "Diavlo", sans-serif

$hero-header: 'Oswald', sans-serif
$hero-subtext: 'PT Sans', sans-serif

$section-header: "Abel", sans-serif

$footer-widget-header: 'Abel', sans-serif
$footer-widget-body: 'PT Sans', sans-serif

$header-nav-item: 'Oswald', sans-serif