// Landing Page Section formatting
.page-content--landing
    padding: 0 !important
    
.landing-section
    width: 100%
    padding: 3% 20%
    background-color: $landing-fill
    text-align: center

.landing-section__header
    font: $f-landing-section-header !important
    text-align: center
    letter-spacing: 0.25em
    color: $landing-text
        
.landing-section__text-body
    margin: 1em 0 2em
    text-align: center
    color: $landing-text
    
.landing-section__text-body--no-margin
    margin: 0

.landing-section__button
    display: inline-block
    font: $f-hero-button-text
    color: $landing-text
    text-transform: uppercase
    text-decoration: none
    padding: 1em 2em
    border-radius: 999px
    border: 2px solid
    transition: all 100ms linear
    border-color: $landing-text
    
.landing-section__button:hover
    background-color: black
    color: $a-button-text-hover !important
    
// "Grabber" section
.landing-section--grabber
    background-color: $landing-grabber-fill
    
.landing-section--grabber .landing-section__text-body
    color: $landing-grabber-text
        
// Team Display section
.landing-section--team-display
    @include grid-container
    text-align: center
    
.landing-section__team-column
        @include grid-column(1, $g-team-display-grid)
        @include grid-media($g-team-display-grid-small)
            @include grid-column(1)
                
.team-column__logo
    width: 50%    

// Light-text stuff
.landing-section--light
    background-image: url('./images/sponsorbg.jpg')

.landing-section--light .landing-section__header, 
.landing-section--light .landing-section__text-body, 
.landing-section__button--light
    color: $landing-light-text
    
.landing-section__button--light
    border-color: $landing-light-text
    
.landing-section__button--light:hover
    background-color: $landing-light-text
        
// BGs
.landing-section__sponsorbg
    background-image: url('./images/sponsorbg.jpg')