.blog-post
    margin: 1% 10%
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-items: center
    
.blog-post__date
    padding: 0.5em 0.5em 0.5em 0
    margin-right: 0.5em
    flex: 0 1 auto
    border-right: #555555 solid 1px
    text-align: right
    text-transform: uppercase
    
.blog-post__date-span
    display: block
    
.blog-post__title
    margin: 0
    
.blog-post__author
    margin: 0

.blog-post__excerpt
    margin-top: 1em