// Landing Page Section formatting
.landing-section
    width: 100%
    @include padding(40px 128px)
    background: $landing-fill
    text-align: center

.landing-section__header
    text-align: center
    letter-spacing: 0.25em
    color: $landing-text
        
.landing-section__text-body
    @include margin(0)
    text-align: center
    color: $landing-text

.landing-section__button
    display: inline-block
    font-family: $hero-subtext
    color: $landing-text
    text-transform: uppercase
    text-decoration: none
    font-size: 1.5em
    padding: 1em 2em
    margin: 2em
    border-radius: 1.75em
    border: 2px solid
    transition: background-color 100ms linear, color 100ms linear
    border-color: $landing-text
    
.landing-section__button:hover
    background-color: black
    color: $a-button-text-hover !important
    
// "Grabber" section
.landing-section--grabber
    background-color: $landing-grabber-fill
    
.landing-section--grabber .landing-section__text-body
        color: $landing-grabber-text
        
// Team Display section
.landing-section--team-display
    @include grid-container
    text-align: center
    
.landing-section__team-column
        @include grid-column(1, $team-display-grid)
        @include grid-media($team-display-grid-small)
            @include grid-column(1)
                
.team-column__logo
    width: 50%    

// Light-text stuff
.landing-section--light
    background-image: url('./images/sponsorbg.jpg')
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover

.landing-section--light .landing-section__header, 
.landing-section--light .landing-section__text-body, 
.landing-section--light .landing-section__button
    color: $landing-light-text
    
.landing-section--light .landing-section__button
    border-color: $landing-light-text
    
.landing-section--light .landing-section__button:hover
    background-color: $landing-light-text
        
// BGs
.landing-section__sponsorbg
    background-image: url('./images/sponsorbg.jpg')