// Color Palette
$lightning-orange: #ffa100
$grizzly: #7a520c
$aluminum: #a0a0a0
$davys-grey: #585858
$licorice: #111111
        
$c-html-bg: $licorice

$landing-grabber-fill: $aluminum
$landing-grabber-text: $licorice
$landing-fill: white
$landing-text: black
$landing-light-text: white

$a-button-text-hover: $lightning-orange

// Header nav palette
$navbar-border: $aluminum
$navbar-selected: $lightning-orange
$navbar-item: white
$navbar-submenu-fill: white
$navbar-submenu-item: $licorice
$navbar-submenu-item-selected: $lightning-orange
$navbar-submenu-fill-selected: $licorice

// Footer palette
$c-footer-bg: $licorice
$c-footer-text: $aluminum
$c-footer-link-normal: $c-footer-text
$c-footer-link-unfocused: $davys-grey
$c-footer-link-focused: $lightning-orange

// Robot page palette
$c-robot-page-section-border: $aluminum

// Robot archive palette
$c-bg-robot-icon: $davys-grey
$c-robot-year: $davys-grey

// Gallery archice palette
$c-year-nav-link: $davys-grey
$c-year-nav-link-focus: $aluminum
$c-year-nav-link-hover: $lightning-orange
$c-year-nav-separator: $davys-grey

// Blog Feed Palette
$c-page-numbers: black
$c-page-numbers-focus: $aluminum
$c-page-numbers-hover: $lightning-orange
$c-current-page: $davys-grey