// Color Palette
// See https://coolors.co/f7941e-d2d2d4-a0a0a0-000000-ffffff for full palette
$orange: #f7941e;
$dark-gray: #333;
$medium-gray: #a0a0a0;
$light-gray: #d2d2d4;
$black: #000;
$white: #fff;

// Font Colors
$base-font-color: $dark-gray;
$base-font-color-dark: $medium-gray;
$action-color: $orange;

// Background Colors
$viewport-background-color: $dark-gray;