// Footer Stylings
$bg-footer: shade($dark-gray, 25%)
$fg-footer: $light-gray
$fg-footer-hover: transparentize($light-gray, 0.25)
$fg-footer-focus: shade($action-color, 25%)

.footer
    +padding(2em)
    background: $bg-footer

    &__section
        display: flex
        justify-content: center
        align-content: center
        +size(fit-content, auto)
        +margin(null auto)
        text-align: center
        color: $light-gray
        transition: all $base-duration $base-timing

        &:not(:last-child)
            +margin(null null 1em null)

        &--type--social // Social Links Section
            .footer__social-link
                fill: $light-gray
                transition: all $base-duration $base-timing

            &:hover
                .footer__social-link
                    fill: $fg-footer-hover

                    &:hover
                        fill: $fg-footer-focus

        &--type--copyright // Copyright Info
            text-align: center

        &--type--widgets
            text-align: left

    &__social-link
        +size(fit-content, 2em)

        &:not(:last-child)
            +margin(0 1.5em 0 0)

        .social-link
            &__svg
                height: 100%