// Site Nav Stylings
$nav-ms-base: 1em
$nav-ms-ratio: $perfect-fifth

$bg-color-nav: $black
$fg-color-nav: contrast-switch($bg-color-nav)

$bg-color-nav-button-selected: $orange
$bg-nav-button: linear-gradient(to top, transparent 50%, $bg-color-nav-button-selected 50%) center -100%/100% 200% no-repeat
$bg-nav-button-mobile: linear-gradient(to left, transparent 50%, $bg-color-nav-button-selected 50%) 100% center/200% 100% no-repeat

$bg-color-menu: $dark-gray
$fg-color-menu: contrast-switch($bg-color-menu)

$bg-color-submenu: $medium-gray
$fg-color-submenu: contrast-switch($bg-color-submenu)

$bg-color-submenuitem-selected: $light-gray

$menu-font: modular-scale(0, $nav-ms-base, $nav-ms-ratio) $oswald
$menu-font-mobile: modular-scale(1, $nav-ms-base, $nav-ms-ratio) $oswald

@keyframes slideout-menu
    0%
        transform: translateX(-256px)        

.nav // Nav Container
    display: flex
    justify-content: space-between
    align-items: center
    position: fixed
    +size(100%, 96px)
    +padding(20px)
    background-color: $bg-color-nav
    transition: all $base-duration $base-timing

    &__item // All Nav Items
        display: flex
        align-items: center
        +size(auto, 100%)
        white-space: nowrap
        text-decoration: none
        color: $fg-color-nav
        fill: $fg-color-nav
        transition: all $base-duration $base-timing

        &--type--home-link // Nav Home Link
            &:hover,
            &:focus,
            &:active
                color: $fg-color-nav

            .home-link__part
                &:last-child
                    +margin(0 0 0 0.5em)
                &--type--img
                    +size(auto, 100%)
                &--type--text
                    display: none
                    font: bold modular-scale(1, $nav-ms-base, $nav-ms-ratio) $diavlo
        
        &--type--menu-toggle
            +hmbrgr()
            +padding(10px)
            background: $bg-nav-button-mobile

        &--active
            background-position-x: 0%

    &__menu // Nav Menu
        display: inline-block
        +position(fixed, 0 100vw 0 0)
        right: calc(100vw - 256px)
        transform: translateX(-256px)
        padding-top: 1em
        overflow-x: hidden 
        overflow-y: overlay
        visibility: hidden
        background-color: $bg-color-menu
        transition: all $base-duration $base-timing

        &--open
            transform: translateX(0px)

        .nav-menu__item // All nav menu items
            transition: all $base-duration $base-timing
        
        .nav-menu__sub-item // All nav menu sub-items
            transition: all $base-duration $base-timing

        .nav-sub-menu__item // All nav sub-menu items
            transition: all $base-duration $base-timing

.site-nav-menu__sub-menu
    display: none
    overflow: hidden
    background: $bg-color-submenu

.site-nav-menu__sub-menu--open
    display: block

.site-nav-menu--open
    visibility: visible
    right: calc(100vw - 256px)

.site-nav-menu-link,
.site-nav-menu__sub-menu-link
    display: inline-block
    width: 100%
    padding: 0.5em
    text-decoration: none
    text-transform: uppercase
    font: $menu-font-mobile

.site-nav-menu-link
    color: $fg-color-menu
    background: $bg-nav-button-mobile
    transition: all $base-duration $base-timing

.site-nav-menu__item:hover .site-nav-menu-link,
.site-nav-menu__item:focus .site-nav-menu-link
    color: $fg-color-menu
    background-position-x: 0%

.site-nav-menu__sub-menu-item:hover,
.site-nav-menu__sub-menu-item:focus
    background-color: $bg-color-submenuitem-selected

.site-nav-menu__sub-menu-link
    padding-left: 1em
    color: $fg-color-submenu

// Mobile Menu Toggle
.site-nav__menu-toggle
    transition: all $base-duration $base-timing

.site-nav__menu-toggle:focus,
.site-nav__menu-toggle:hover
    color: $fg-color-nav
    
.site-nav__menu-toggle--active
    background-position-x: 0%
    
//--------Tablet media query--------
+mq(tablet)
    // Master Bar
    .site-nav--transparent
        background-color: transparent
        +size(100%, 128px)
        padding: 32px 50px

    // Home Link
    .home-link__title
        display: inline
        
    .site-nav--transparent .home-link__title
        font-size: modular-scale(2, $nav-ms-base, $nav-ms-ratio)
    
    // Navigation Menu
    .site-nav-menu
        display: flex
        justify-content: flex-end
        +position(relative, auto)
        +size(25em, auto)
        padding: 0
        overflow: unset
        visibility: visible
        background: none

    .site-nav-menu__item
        position: relative
        height: 100%
        margin-left: 1.5em

    .site-nav-menu-link,
    .site-nav-menu__sub-menu-link
        display: inline-block
        width: 100%
        font: $menu-font

    .site-nav-menu-link
        +padding(0 0.5em)
        background: $bg-nav-button
    
    .site-nav-menu__sub-menu
        display: block
        +size(fit-content, 0)
        +position(absolute, null null null 0)
        transform: translateY(20px)
        +padding(0)
        opacity: 0
        transition: all $base-duration $base-timing

    .site-nav-menu__sub-menu-link
        +padding(0.5em 2em 0.5em 0.5em)

    .site-nav-menu__item:last-child 
        .site-nav-menu__sub-menu
            +position(absolute, null 0 null initial)
            text-align: right

        .site-nav-menu__sub-menu-link
            +padding(0.5em 0.5em 0.5em 2em)

    .site-nav-menu__item:hover,
    .site-nav-menu__item:focus
        .site-nav-menu-link
            background-position-y: 0%

        .site-nav-menu__sub-menu
            transform: translateY(0px)
            +size(fit-content, auto)
            opacity: 1

    .site-nav-menu__sub-menu-item
        white-space: nowrap

    // Mobile Menu Toggle
    .site-nav__menu-toggle
        display: none