// Site Nav Stylings
$bg-color-nav: $black
$fg-color-nav: contrast-switch($bg-color-nav)

$bg-color-menu: $dark-gray
$fg-color-menu: contrast-switch($bg-color-menu)

$nav-ms-base: 1em
$nav-ms-ratio: $perfect-fifth

$bg-color-nav-button-selected: $orange
$bg-nav-button: linear-gradient(to top, transparent 50%, $bg-color-nav-button-selected 50%)

@keyframes slideout-menu
    0%
        transform: translateX(-256px)        

// Master Bar
.site-nav
    display: flex
    justify-content: space-between
    align-items: center
    position: fixed
    +size(100%, 96px)
    +padding(20px)
    background-color: $bg-color-nav
    transition: all $base-duration $base-timing

// Home Link
.site-nav__home-link
    display: flex
    align-items: center
    +size(auto, 100%)
    white-space: nowrap
    text-decoration: none
    color: $fg-color-nav
    fill: $fg-color-nav

.home-link__logo
    +size(auto, 100%)

.home-link__title
    display: none
    font: bold modular-scale(1, $nav-ms-base, $nav-ms-ratio) $diavlo
    +margin(0 0 0 0.5em)

// Navigation Menu
.site-nav-menu
    display: none
    +position(fixed, 0 100vw 0 0)
    background-color: $bg-color-menu
    animation:
        name: slideout-menu
        fill-mode: forwards
        duration: $base-duration
        timing-function: $base-timing

.site-nav__menu-toggle
    +hmbrgr()
    +padding(10px)
    // font: modular-scale(2, $nav-ms-base, $nav-ms-ratio) $roboto-condensed
    // text-decoration: none
    // color: $fg-color-nav
    background: $bg-nav-button
    background-size: 100% 200%
    background-position-y: -100%
    transition: all $base-duration $base-timing

.site-nav__menu-toggle:focus,
.site-nav__menu-toggle:hover
    color: $fg-color-nav
    
.site-nav__menu-toggle--active
    background-position-y: 0%

.site-nav-menu--open
    display: block
    +position(fixed, 0 calc(100vw - 256px) 0 0)
    
//--------Tablet media query--------
+mq(tablet)
    // Master Bar
    .site-nav--transparent
        background-color: transparent

    // Home Link
    .home-link__title
        display: inline
        
    .site-nav--transparent .home-link__title
        font-size: modular-scale(2, $nav-ms-base, $nav-ms-ratio)
    
    .site-nav__menu-toggle-container
        display: none

// Random bits and pieces to ignore
.site-nav__menu-toggle-dummy
    display: none