// Text styling
$font-color-light: $light-gray
$font-color-dark: $dark-gray
$font-color-black: $black
$font-color-white: $white

$min-modular-scale: 0
$max-modular-scale: 12

.text
    text-decoration: none

    &--color
        &--white
            color: $font-color-white
        &--light
            color: $font-color-light
        &--dark
            color: $font-color-dark
        &--black
            color: $font-color-black
        &--action
            color: $action-color

    &--align
        &--left
            text-align: left
        &--center
            text-align: center
        &--right
            text-align: right
        &--justify
            text-align: justify

    @for $i from $min-modular-scale to $max-modular-scale
        &--ms--#{$i}
            font-size: modular-scale($i)

    &--font-family
        &--diavlo
            font-family: $diavlo
        &--oswald
            font-family: $oswald
        &--abel
            font-family: $abel
            letter-spacing: 0.25em
        &--roboto-mono
            font-family: $roboto-mono
        &--roboto-condensed
            font-family: $roboto-condensed

    &--weight
        &--bold
            font-weight: bold
            font-weight: 700
        &--light
            font-weight: 300

    &--contain
        +margin(null null 1.5em)