// Fonts
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:700,700i');

@include font-face("Diavlo", "./fonts/diavlo/light") {
    font-style: normal;
    font-weight: 300;
};

@include font-face("Diavlo", "./fonts/diavlo/bold") {
    font-style: normal;
    font-weight: 700;
};

$diavlo: 'Diavlo', sans-serif;
$oswald: 'Oswald', sans-serif;
$abel: 'Abel', sans-serif;
$roboto-mono: 'Roboto Mono', $font-stack-courier-new;
$roboto-condensed: 'Roboto Condensed', $font-stack-system;

// Typography
$title-font-family: $diavlo;
$base-font-family: $roboto-condensed;

$h1-font-family: $oswald;
$h2-font-family: $abel;
$h3-font-family: $roboto-mono;
$h4-font-family: $base-font-family;
$h5-font-family: $base-font-family;
$h6-font-family: $base-font-family;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Color Palette
// See https://coolors.co/f7941e-d2d2d4-a0a0a0-000000-ffffff for full palette
$orange: #f7941e;
$dark-gray: #333;
$medium-gray: #a0a0a0;
$light-gray: #d2d2d4;
$black: #000;
$white: #fff;

// Font Colors
$base-font-color: $dark-gray;
$base-font-color-dark: $medium-gray;
$action-color: $orange;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Grids

// Background Colors
$viewport-background-color: $dark-gray;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 200ms;
$base-timing: $ease-out-circ;
