// Button Stylings
$color-button-dark: $dark-gray
$color-button-light: $light-gray
$color-button-black: $black
$color-button-white: $white
$color-button-orange: $orange

$color-button-text-active: $white
$color-button-text-active-alt: $orange

.button
    +padding(1em 2em)
    border: $base-border
    border-radius: 4em
    text-decoration: none
    font-weight: bold
    background: none
    transition: all $base-duration $base-timing

    &:hover
        color: $color-button-text-active
        background-color: $action-color

    &--color
        &--orange
            +border-color($orange)
            color: $orange

            &:hover
                color: $color-button-text-active
                background-color: $orange
            
        &--dark
            +border-color($dark-gray)
            color: $dark-gray
            
            &:hover
                color: $color-button-text-active
                background-color: $dark-gray
        
        &--light
            +border-color($light-gray)
            color: $light-gray

            &:hover
                color: $color-button-text-active
                background-color: $light-gray
            
        &--black
            +border-color($black)
            color: $black

            &:hover
                color: $color-button-text-active
                background-color: $black

        &--white
            +border-color($white)
            color: $white

            &:hover
                color: $color-button-text-active-alt
                background-color: $white

    &--align
        &--center
            +margin(auto)
        &--top
            +margin(null null auto)
        &--bottom
            +margin(auto null null)
        &--left
            +margin(null null null auto)
        &--right
            +margin(null auto null null)

